@tailwind base;
@tailwind components;
@tailwind utilities;

.emotion-tile {
  @apply h-32 rounded-3xl flex flex-col items-center justify-center
         text-white text-xl font-bold shadow-lg
         hover:scale-110 transition;
}
.mirror {
  transform: scaleX(-1);
}
.video-container {
  @apply relative w-full h-0 pb-[56.25%]; /* 16:9 Aspect Ratio */
}
